<div class="bs-docs-section">
  <div class="row">
    <div class="col-md-12">


      <div class="page-header">          
        <h1>KFZ Anmeldung für <%= @anmeldung.kunde.vorname %> <%= @anmeldung.kunde.nachname %> </h1>
      </div>

      <div class="col-md-3" id="leftCol">
        <div class="well">    
          <%= render 'layouts/sidebar_show' %>
        </div>
      </div>     

      <div class="col-md-9" id="rightCol">          
        <div class="well">          
          <div class="panel panel-info">
            <div class="panel-body">  

              <div id="box">   
                <p><strong>
                  <%= @anmeldung.neues_kennzeichen1 %> - <%= @anmeldung.neues_kennzeichen2 %> 
                </strong></p>

                <p><strong>
                  <%= @anmeldung.amtliches_kennzeichen1 %> - <%= @anmeldung.amtliches_kennzeichen2 %> 
                </strong></p>  
                
                <p><br></p>

                <p><strong>
                  <%= @anmeldung.kunde.anrede %>
                </strong></p>  

                <p><strong>
                  <%= @anmeldung.kunde.nachname %>
                </strong></p>  

                <p><strong>
                  <%= @anmeldung.kunde.geburtsname %>
                </strong></p>              

                <p><strong>
                  <%= @anmeldung.kunde.vorname %>
                </strong></p>
               
                <p><strong>
                  <%= @anmeldung.kunde.geburtsdatum %>
                </strong></p>

                <p><strong>
                  <%= @anmeldung.kunde.geburtsort %>
                </strong></p>

                <p><strong>
                  <%= @anmeldung.kunde.plz %> <%= @anmeldung.kunde.stadt %>
                </strong></p>

                <p><strong>
                  <%= @anmeldung.kunde.adresse %>
                </strong></p>

                <p><strong>
                  <br>
                </strong></p>

                <p><strong>
                  tsp GmbH 
                </strong></p>

                <p><strong>
                  Versicherungs- und Zulassungsservice
                </strong></p>

                <p><strong>
                  Tel.: 030 398 375 80
                </strong></p>

                <p><strong>
                  10551 Berlin
                </strong></p>

                <p><strong>
                  Turmstr. 39 
                </strong></p>

                <p><strong>
                  <br>
                </strong></p>

                <p><strong>
                  <%= @anmeldung.identnummer %>
                </strong></p>

                <p><strong>
                  <%= @anmeldung.fz_brief_nr %>
                </strong></p>

                <p><strong>
                  <br> 
                </strong></p>

                <p><strong>
                  <br> 
                </strong></p>


                <p><strong>
                  <%= @anmeldung.evb_nr %>
                </strong></p>
              </div> 
              <div id="boxfsp"> 
                 <p><strong>
                  <% if @anmeldung.feinstaubplakette == true %>
                      <p >X</p>                    
                    <% else %>
                      <p> </p>
                    <% end %>
                </strong></p>
              </div>

              <div id="boxsv"> 
                 <p><strong>
                  <%= @anmeldung.saison_von.to_formatted_s(:short) if @anmeldung.saison_von %>
                </strong></p>
              </div>

              <div id="boxsb"> 
                 <p><strong>
                  <%= @anmeldung.saison_bis.to_formatted_s(:short) if @anmeldung.saison_bis %>
                </strong></p>
              </div>

              <%= image_tag ("zulassungsantrag1.png") %>
            </div>
          </div>
        </div>    
      </div>


    </div>     
  </div>
</div> 





<%= link_to 'Edit', edit_anmeldung_path(@anmeldung) %> |
<%= link_to 'Back', anmeldungs_path %>
